name: "Beszel Agent Dev Branch"
description: "Beszel Agent for HASSIO"
version: "0.18.2"
slug: "hassio_beszel_agent_dev"
init: false
host_network: true
docker_api: true
apparmor: true
full_access: true
host_dbus: true
privileged: 
  - SYS_ADMIN
  - SYS_RAWIO
  - DAC_READ_SEARCH
  - SYS_MODULE
devices:
  - /dev/sda
  - /dev/*
  - /dev/sdb
  - /dev/sdc
  - /dev/sdd
  - /dev/sde
  - /dev/sdf
  - /dev/sdg
  - /dev/nvme
  - /dev/nvme0
  - /dev/nvme0n1
  - /dev/nvme0n1p1
  - /dev/nvme0n1p2
  - /dev/nvme0n1p3
  - /dev/nvme1n1
  - /dev/nvme1n1p1
  - /dev/nvme1n1p2
  - /dev/nvme1n1p3
  - /dev/nvme2n1
  - /dev/nvme2n1p1
  - /dev/nvme2n1p2
  - /dev/nvme2n3p3
  - /dev/mmcblk
  - /dev/fuse
  - /dev/nvme0
  - /dev/nvme1
  - /dev/nvme2
  - /dev/md0
  - /dev/md1
  - /dev/md2
  - /dev/md3
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386

ports:
  45876/tcp: 45876
image: "ghcr.io/obamium69/hassio_beszel_agent_dev-{arch}"
options:
  key: ""
  hub_url: ""
  token: ""
  environment_vars:
    - name: EXAMPLE_VAR_NAME
      value: EXAMPLE_VAR_VALUE

schema:
  key: "password"
  hub_url: "str?"
  token: "password?"
  environment_vars:
      - name: "str"
        value: "str"
map:
  - type: data
    read_only: false
    path: /var/lib/beszel-agent
